.img-bw-4{
    width: 33.33%;
    height: 180pt;
    max-height: 180pt;
    padding: 0.5pt 0.7pt 0.5pt auto ;
    object-fit: cover;
    -webkit-filter: grayscale(95%); /* Safari 6.0 - 9.0 */
    filter: grayscale(95%);
    
}

.img-bw-4:hover{
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  z-index: 100;
  position: relative;
  opacity: 1;
  transform: scale(2);
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari and Chrome */
}