.img-bw-4{
    width: auto;
    min-width: 377px;
    max-height: 180pt;
    margin: auto;
    object-fit: cover;
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
}