header#main-header{
    height: 80pt;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}